<p class="social-icons">
  <a href="https://scholar.google.com/citations?user=YOUR_ID" title="Google Scholar">
    <i class="fa-solid fa-graduation-cap"></i>
    <span>Google Scholar</span>
  </a>
  <a href="https://www.linkedin.com/in/said-hassan/" title="LinkedIn">
    <i class="fa-brands fa-linkedin"></i>
    <span>LinkedIn</span>
  </a>
  <a href="https://bsky.app/profile/YOUR_HANDLE" title="Bluesky">
    <i class="fa-brands fa-bluesky"></i>
    <span>Bluesky</span>
  </a>
  <a href="mailto:said.hassan@nuffield.ox.ac.uk" title="Email">
    <i class="fa-solid fa-envelope"></i>
    <span>Email</span>
  </a>
  <a href="/assets/cv.pdf" title="CV">
    <i class="fa-solid fa-file-lines"></i>
    <span>CV</span>
  </a>
</p>
